[phases.setup]
nixPkgs = ["nodejs", "python3"]
aptPkgs = [
  "build-essential",
  "pkg-config", 
  "libcairo2-dev",
  "libpango1.0-dev",
  "libjpeg-dev",
  "libgif-dev",
  "librsvg2-dev",
  "libpixman-1-dev",
  "libjpeg62-turbo-dev",
  "libpng-dev"
]

[phases.install]
cmds = ["npm ci --production=false --verbose"]

[phases.build]
cmds = ["npm run build:api"]

[start]
cmd = "npm run start:prod --workspace=@smart-brokerage/api"

